/*Mobile First */
/***** Couleurs*****/
/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  counter-reset: compteur;
  font-family: "Roboto";
}

h3 {
  font-size: 1.1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

/************* Placeholders ************/
.footer__heading, .banner__heading h2, .header__title {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  text-align: center;
}

.dish__button, .reservation__button {
  padding: 1rem;
  margin: 20px auto;
  box-shadow: 0rem 0.2rem 0.5rem lightgrey;
  background: linear-gradient(355deg, #9356dc, #ff79da);
  border: none;
  border-radius: 2rem;
  color: white;
  font-size: 1.05rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

/********************** HEADER **********
*****************************************/
.header__arrow {
  border: none;
  background-color: white;
  font-size: x-large;
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 12px;
}

/********************** MAIN ***********
****************************************/
main {
  background-color: #f6f6f6;
  padding-bottom: 60px;
}

/******* Section Location ********/
.location {
  display: flex;
  justify-content: center;
  gap: 18px;
  text-align: center;
  box-shadow: 0px 3px 3px inset #c1c1c19c;
  background-color: #eaeaea;
  padding: 16px 0;
  margin: 0 -0.2rem;
}
.location__icon {
  display: flex;
  align-items: center;
}
.location__place {
  font-size: 1.1rem;
}

/***** Section Reservation ******/
.reservation {
  text-align: center;
  padding: 42px 50px 57px;
}
.reservation h2 {
  margin-bottom: 25px;
}
.reservation p {
  margin-bottom: 15px;
}
/********* Section List **********/
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 52px 20px;
  background-color: white;
}
.list ul {
  display: flex;
  flex-direction: column;
}
.list__wraper {
  height: 75px;
  width: auto;
  border-radius: 15px;
  box-shadow: 0px 3px 15px #c1c1c19c;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 0 24px 12px;
}
.list__wraper::before {
  counter-increment: compteur;
  content: counter(compteur) " ";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0.5rem 0.8rem;
  margin-left: -1rem;
  background: #9356dc;
  border-radius: 1rem;
}
.list__wraper:hover {
  background-color: #f5edff;
}
.list__icon {
  color: #7e7e7e;
}
.list__icon:hover {
  background-color: #9356dc;
}

/******* Section Restaurant ********/
.restaurant {
  display: flex;
  flex-direction: column;
  padding: 58px 20px 20px;
  background-color: #f6f6f6;
}
.restaurant h2 {
  margin-bottom: 28px;
}
.restaurant__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 18px;
  border-radius: 15px;
  box-shadow: 0px 3px 15px #c1c1c19c;
}
.restaurant__description {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 14px 25px 20px 14px;
}
.restaurant__description h3 {
  flex: auto;
  font-size: 1.2rem;
}
.restaurant__description p {
  order: 1;
  margin-top: 2px;
  font-size: 1.2rem;
}
.restaurant__image {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
}
.restaurant * {
  flex: 100%;
}
.restaurant a {
  position: relative;
}
.restaurant__new {
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 6px 10px;
  z-index: 2;
  top: 12px;
  right: 12px;
}

.heart {
  font-size: 1.5rem;
  color: #353535;
  text-align: right;
  flex: auto;
}

/******* Section Banner ********/
.banner img {
  width: 100%;
  height: 254px;
}
.banner__heading {
  display: flex;
  position: relative;
  background-color: #f6f6f6;
  margin-top: -38px;
  padding: 34px 12px 0;
  border-radius: 2.5rem 2.5rem 0 0;
}
/******* Section Dish ********/
.dish__course {
  display: flex;
  flex-direction: column;
  padding: 18px 12px 0;
}
.dish__heading {
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: normal;
  margin-bottom: 15px;
}
.dish__heading::after {
  content: "";
  display: flex;
  width: 2.8rem;
  height: 3px;
  background: #99e2d0;
}
.dish__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  height: auto;
  width: auto;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 3px 15px #c1c1c19c;
  background-color: white;
  overflow: hidden;
  margin: 0 0 24px 0;
}
.dish__name {
  font-size: 1.1rem;
}
.dish__description {
  display: flex;
  justify-content: space-between;
}
.dish__price {
  font-weight: bold;
}
.dish__button {
  display: block;
  padding: 1rem 3rem;
}

/********************** FOOTER *******
**************************************/
.footer {
  width: 100%;
  padding: 26px 20px 38px;
  color: white;
  background-color: #353535;
}
.footer__item {
  margin-bottom: 12px;
}
.footer__icon {
  margin-right: 12px;
}
.footer__heading {
  text-align: left;
  margin-bottom: 27px;
}
.footer__link:hover {
  color: #c1c1c19c;
}

/**************************************************************************
 *********************************** RESPONSIVE ***************************
 **************************************************************************/
/*************** Tablette min 768 px *************/
@media screen and (min-width: 768px) {
  .header__arrow {
    left: 100px;
  }

  .list ul {
    flex-direction: row;
    justify-content: space-between;
    gap: 1%;
    margin-top: 1rem;
  }
  .list__wraper {
    margin: 0;
    gap: 10%;
    padding: 10px;
    justify-content: space-around;
    flex: 100%;
  }
  .list__wraper::before {
    top: 475px;
  }
  .list__chip {
    margin-left: 0;
  }

  .restaurant {
    padding: 58px 100px 20px;
  }

  .banner__heading {
    padding: 34px 100px 0 100px;
  }

  .dish__course {
    padding: 18px 100px 0;
  }

  .footer {
    padding: 26px 100px 38px;
  }
  .footer__list {
    display: flex;
    justify-content: space-between;
  }
}
/*************** Desktop min 1024 px *************/
@media screen and (min-width: 1024px) {
  .header__title {
    font-size: 2.5rem;
  }
  .header__arrow {
    top: 20px;
    left: 100px;
  }

  .banner img {
    height: 440px;
  }

  .list {
    padding: 52px;
  }
  .list__wraper {
    flex: 1 80%;
  }
  .list__wraper::before {
    top: 486px;
  }
  .list__heading {
    flex: 1 1 auto;
  }
  .list ul {
    margin-top: 1rem;
  }

  .dish {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5rem 100px;
  }
  .dish__course {
    padding: 0;
    flex: 0 0 45%;
  }
  .dish__course:nth-of-type(3) {
    margin: 0 auto;
  }
  .dish__heading::after {
    width: 100%;
  }

  .footer {
    padding: 26px 100px 38px;
  }
  .footer__list {
    display: flex;
    justify-content: space-between;
  }

  .restaurant__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .restaurant__item {
    flex: 40%;
    margin-bottom: 0;
  }
}
/*************** Desktop min 1280 px *************/
@media screen and (min-width: 1280px) {
  .dish__course {
    padding: 0;
    flex: 0 0 31%;
  }
  .dish__course:nth-of-type(3) {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
