.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInLoader 4s 2s forwards;

  z-index: 100;
}
.loading span {
  color: #fff;
}
.loading__spinner {
  position: absolute;
  border: 20px solid #f3f3f3;
  border-radius: 50%;
  border-top: 20px solid $color-primary;
  border-right: 20px solid $color-secondary;
  border-bottom: 20px solid $color-tertiary;
  width: 200px;
  height: 200px;
  animation: spinner 3s linear infinite;
}
