.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 4s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  z-index: 100;
}
.loading span {
  color: #fff;
}
.loading__spinner {
  position: absolute;
  border: 20px solid #f3f3f3;
  border-radius: 50%;
  border-top: 20px solid #9356dc;
  border-right: 20px solid #ff79da;
  border-bottom: 20px solid #99e2d0;
  width: 200px;
  height: 200px;
  animation: spin 3s linear infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    z-index: -100;
  }
}
