* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-width: 280px;
  counter-reset: compteur;
  font-family: "Roboto";
  @include breakpoint(desktop) {
    max-width: 1920px;
    margin: auto;
  }
}

h3 {
  font-size: 1.1rem;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  object-fit: cover;
}

main {
  background-color: $color-grey;
  padding-bottom: 60px;
}
