/*Mobile First */

/* General */

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto";
}
.shrinkhand {
  font-family: "Shrikhand", cursive;
}
h3 {
  font-size: 1.1rem;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.crop {
  object-fit: cover;
}

/***** Couleurs*****/

.primary {
  background-color: #9356dc;
}
.secondary {
  background-color: #ff79da;
}
.tertiary {
  background-color: #99e2d0;
}
.grey {
  background-color: #f6f6f6;
}
.lite-grey {
  background-color: #eaeaea;
}
.custom-black {
  background-color: #353535;
}
.choice-hover {
  background-color: #f5edff;
}

/******** HEADER ********/

header h1 {
  text-align: center;
}
.back-arrow {
  border: none;
  background-color: white;
  font-size: x-large;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 24px;
}
/******** MAIN ********/

main {
  display: flex;
  flex-flow: column wrap;
}
.location {
  display: flex;
  justify-content: center;
  gap: 18px;
  text-align: center;
  box-shadow: 0px 3px 3px inset #cecece;
  background-color: #eaeaea;
  padding: 16px 0;
}
.reservation {
  text-align: center;
  padding: 42px 50px 57px;
  background-color: #f6f6f6;
}
.reservation h2 {
  margin-bottom: 25px;
}
.reservation p {
  margin-bottom: 35px;
}
.btn {
  padding: 1rem;
  box-shadow: 0rem 0.2rem 0.5rem lightgrey;
  background: linear-gradient(355deg, #9356dc, #ff79da);
  border: none;
  border-radius: 2rem;
  color: #fff;
  font-size: 1.05rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.course h3 {
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: normal;
}
.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 52px 20px;
}
.fonctionnement ul {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}
.choice {
  height: 75px;
  width: auto;
  border-radius: 15px;
  box-shadow: 0px 3px 15px #c1c1c19c;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 0 24px 12px;
}
.choice:hover {
  background-color: #f5edff;
}
.choice__icon {
  color: #7e7e7e;
}
.choice__chip {
  width: 24px;
  height: 24px;
  border-radius: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
  background-color: #9356dc;
}
.restaurants-list {
  display: flex;
  flex-direction: column;
  padding: 58px 20px 64px;
  background-color: #f6f6f6;
}
.restaurants-list h2 {
  margin-bottom: 28px;
}
.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 18px;
  border-radius: 15px;
  box-shadow: 0px 3px 15px #c1c1c19c;
}
.restaurant__description {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 14px 25px 20px 14px;
}
.restaurant__description > * {
  flex: 100%;
}
.restaurant__description h3,
.heart {
  flex: auto;
}
.restaurant__description h3 {
  flex: auto;
  font-size: 1.2rem;
}
.restaurant__description p {
  order: 1;
  margin-top: 2px;
  font-size: 1.2rem;
}
.heart {
  font-size: 1.5rem;
  color: #353535;
  text-align: right;
}
.restaurant__img {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
}
.restaurant-banner h3 {
  text-align: right;
}
/******** FOOTER  ********/

footer {
  width: 100%;
  padding: 26px 20px 38px;
  color: #fff;
  background-color: #353535;
}
footer ul li {
  margin-bottom: 12px;
}
footer ul li i {
  margin-right: 12px;
}
footer h2 {
  margin-bottom: 27px;
  font-weight: 100;
}
