.banner__heading h2, .footer__heading, .header__title {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  text-align: center;
}

.dish__button, .reservation__button {
  box-shadow: 0 0.2rem 0.5rem #a8a7a79c;
  padding: 1rem;
  margin: 20px auto;
  background: linear-gradient(355deg, #9356dc, #ff79da);
  border: none;
  border-radius: 2rem;
  color: white;
  font-size: 1.05rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.dish__button:hover, .reservation__button:hover {
  box-shadow: 0 0.2rem 0.5rem rgba(66, 65, 65, 0.6117647059);
  background: linear-gradient(355deg, #9b63df, #ff88de);
}

/*********** loader ***********/
@keyframes fadeInLoader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/*********** spinner ***********/
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    z-index: -100;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 280px;
  counter-reset: compteur;
  font-family: "Roboto";
}
@media (min-width: 1280px) {
  body {
    max-width: 1920px;
    margin: auto;
  }
}

h3 {
  font-size: 1.1rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

main {
  background-color: #f6f6f6;
  padding-bottom: 60px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInLoader 4s 2s forwards;
  z-index: 100;
}

.loading span {
  color: #fff;
}

.loading__spinner {
  position: absolute;
  border: 20px solid #f3f3f3;
  border-radius: 50%;
  border-top: 20px solid #9356dc;
  border-right: 20px solid #ff79da;
  border-bottom: 20px solid #99e2d0;
  width: 200px;
  height: 200px;
  animation: spinner 3s linear infinite;
}

/********************** HEADER **********
*****************************************/
@media (min-width: 1024px) {
  .header__title {
    font-size: 2.5rem;
  }
}
.header__arrow {
  border: none;
  background-color: white;
  font-size: x-large;
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 12px;
}
@media (min-width: 768px) {
  .header__arrow {
    left: 100px;
  }
}
@media (min-width: 1024px) {
  .header__arrow {
    top: 20px;
    left: 50px;
  }
}
@media (min-width: 1280px) {
  .header__arrow {
    top: 20px;
    left: 50px;
  }
}

/************************* FOOTER  ********************/
.footer {
  width: 100%;
  padding: 26px 20px 38px;
  color: white;
  background-color: #353535;
  /*responsive*/
  /***** footer__item ****/
  /***** footer__icon ****/
  /***** footer__heading ****/
  /***** footer__link ****/
  /***** footer__list ****/
}
@media (min-width: 768px) {
  .footer {
    padding: 26px 100px 38px;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 26px 50px 38px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 26px 50px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__item {
  margin-bottom: 12px;
}
.footer__icon {
  margin-right: 12px;
}
.footer__heading {
  text-align: left;
  margin-bottom: 27px;
}
.footer__link:hover {
  color: #a8a7a79c;
}
.footer__list {
  /*responsive*/
}
@media (min-width: 768px) {
  .footer__list {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__list {
    gap: 3rem;
  }
}

/***************** Section Location ******************/
.location {
  display: flex;
  justify-content: center;
  gap: 18px;
  text-align: center;
  box-shadow: 0 0.2rem 0.2rem inset #a8a7a79c;
  background-color: #e9e9e9;
  padding: 16px 0;
  margin: 0 -0.2rem;
  /******* location__icon *****/
  /******* location__place *****/
}
.location__icon {
  display: flex;
  align-items: center;
}
.location__place {
  font-size: 1.1rem;
}

/***************** Section Reservation ****************/
.reservation {
  text-align: center;
  padding: 42px 50px 57px;
  /******* reservation h2 *****/
  /******* reservation p *****/
  /***** reservation__button ****/
}
.reservation h2 {
  margin-bottom: 25px;
}
.reservation p {
  margin-bottom: 15px;
}
.reservation__button {
  cursor: pointer;
}

/***************** Section fonctionnement **************/
.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 52px 20px;
  background-color: white;
  /***** fonctionnement ul ****/
  /***** fonctionnement__wraper ****/
  /***** fonctionnement__icon ****/
}
@media (min-width: 1024px) {
  .fonctionnement {
    padding: 52px;
  }
}
.fonctionnement ul {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .fonctionnement ul {
    flex-direction: row;
    justify-content: space-between;
    gap: 1%;
    margin-top: 1rem;
  }
}
@media (min-width: 1024px) {
  .fonctionnement ul {
    margin-top: 1rem;
    gap: 4%;
  }
}
.fonctionnement__wraper {
  box-shadow: 0 0.2rem 0.5rem #a8a7a79c;
  position: relative;
  height: 75px;
  width: auto;
  border-radius: 15px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 0 24px 12px;
  /*Responsive*/
  /*wraper::before*/
  /*wraper__heading*/
  /*wraper:hover*/
}
@media (min-width: 768px) {
  .fonctionnement__wraper {
    margin: 0;
    gap: 10%;
    padding: 10px;
    justify-content: center;
    flex: 100%;
  }
}
@media (min-width: 1024px) {
  .fonctionnement__wraper {
    flex: 1 80%;
  }
}
.fonctionnement__wraper::before {
  counter-increment: compteur;
  content: counter(compteur) " ";
  position: absolute;
  color: #fff;
  padding: 0.5rem 0.8rem;
  left: -1rem;
  background: #9356dc;
  border-radius: 20px;
  /*Responsive*/
}
@media (min-width: 768px) {
  .fonctionnement__wraper::before {
    top: -20px;
    left: auto;
  }
}
@media (min-width: 1024px) {
  .fonctionnement__wraper__heading {
    flex: 1 1 auto;
  }
}
.fonctionnement__wraper:hover {
  background-color: #ece1f9;
  cursor: pointer;
}
.fonctionnement__wraper:hover i {
  color: #9356dc;
}
.fonctionnement__icon {
  color: #7e7e7e;
  margin-left: 3rem;
  /*Responsive*/
}
@media (min-width: 768px) {
  .fonctionnement__icon {
    margin-left: 0;
  }
}

/****************** Section Restaurant *****************/
.restaurant * {
  flex: 100%;
}

.restaurant {
  display: flex;
  flex-direction: column;
  padding: 58px 20px 20px;
  background-color: #f6f6f6;
  /*Responsive*/
  /****** restaurant h2 *****/
  /***** restaurant__list ****/
  /***** restaurant__item ****/
  /***** restaurant__description ****/
  /***** restaurant__image ****/
  /***** restaurant a ****/
  /***** restaurant__new ****/
  /***** heart ****/
}
@media (min-width: 768px) {
  .restaurant {
    padding: 58px 100px 20px;
  }
}
@media (min-width: 1024px) {
  .restaurant {
    padding: 58px 50px 20px;
  }
}
.restaurant h2 {
  margin-bottom: 28px;
}
@media (min-width: 1024px) {
  .restaurant__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
  }
}
.restaurant__item {
  box-shadow: 0 0.2rem 0.5rem #a8a7a79c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 18px;
  border-radius: 15px;
  /*Responsive*/
}
@media (min-width: 1024px) {
  .restaurant__item {
    flex: 40%;
    margin-bottom: 0;
  }
}
.restaurant__description {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 14px 25px 20px 14px;
}
.restaurant__description h3 {
  flex: auto;
  font-size: 1.2rem;
}
.restaurant__description p {
  order: 1;
  margin-top: 2px;
  font-size: 1.2rem;
}
.restaurant__image {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
}
.restaurant a {
  position: relative;
}
.restaurant__new {
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 6px 10px;
  top: 12px;
  right: 12px;
}
.restaurant__heart {
  position: absolute;
  font-size: 1.5rem;
  color: #353535;
  top: 14px;
  right: 25px;
  cursor: pointer;
  transition: 1s ease-in;
}
.restaurant__heart:hover {
  color: #ff79da;
  font-weight: 900;
  animation: pulse 1s ease forwards;
}

/******************** Section Banner ********************/
.banner {
  /******** banner img *******/
  /******* banner__heading *****/
}
.banner img {
  width: 100%;
  height: 254px;
  /*Responsive*/
}
@media (min-width: 1024px) {
  .banner img {
    height: 440px;
  }
}
.banner__heading {
  display: flex;
  position: relative;
  background-color: #f6f6f6;
  margin-top: -38px;
  padding: 34px 12px 0;
  border-radius: 2.5rem 2.5rem 0 0;
  /*Responsive*/
  /******** banner h2 *******/
}
@media (min-width: 768px) {
  .banner__heading {
    padding: 34px 100px 0 100px;
  }
}
@media (min-width: 1280px) {
  .banner__heading {
    padding: 34px 50px 0 50px;
  }
}
/********************* Section Dish **********************/
.dish {
  /******** dish__course *******/
  /******** Dish__Heading *******/
  /******** Dish__Item *******/
  /******** Dish__Name *******/
  /******* Dish__Description *****/
  /******** Dish__Price *******/
  /******** Dish__Button *******/
}
@media (min-width: 1024px) {
  .dish {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5rem 50px;
  }
}
@media (min-width: 1280px) {
  .dish {
    padding: 5rem 50px;
  }
}
.dish__course {
  display: flex;
  flex-direction: column;
  padding: 18px 12px 0;
  /*Responsive*/
}
@media (min-width: 768px) {
  .dish__course {
    padding: 18px 100px 0;
  }
}
@media (min-width: 1024px) {
  .dish__course {
    padding: 0;
    flex: 0 0 45%;
  }
  .dish__course:nth-of-type(3) {
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .dish__course {
    padding: 0;
    flex: 0 0 31%;
  }
  .dish__course:nth-of-type(3) {
    margin: 0;
  }
}
.dish__heading {
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: normal;
  margin-bottom: 15px;
  /*Heading::after*/
}
.dish__heading::after {
  content: "";
  display: flex;
  width: 2.8rem;
  height: 3px;
  /*Responsive*/
  background: #99e2d0;
}
@media (min-width: 1024px) {
  .dish__heading::after {
    width: 100%;
  }
}
.dish__item {
  box-shadow: 0 0.2rem 0.5rem #a8a7a79c;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  height: auto;
  width: auto;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  margin: 0 0 24px 0;
  cursor: pointer;
}
.dish__name {
  font-size: 1.1rem;
}
.dish__description {
  display: flex;
  justify-content: space-between;
}
.dish__price {
  font-weight: bold;
}
.dish__button {
  display: block;
  padding: 1rem 3rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
