/***************** Section Location ******************/

.location {
  display: flex;
  justify-content: center;
  gap: 18px;
  text-align: center;
  box-shadow: 0 0.2rem 0.2rem inset $color-shadow;
  background-color: darken($color-grey, 5%);
  padding: 16px 0;
  margin: 0 -0.2rem;
  /******* location__icon *****/
  &__icon {
    display: flex;
    align-items: center;
  }
  /******* location__place *****/
  &__place {
    font-size: 1.1rem;
  }
}

/***************** Section Reservation ****************/

.reservation {
  text-align: center;
  padding: 42px 50px 57px;
  /******* reservation h2 *****/
  h2 {
    margin-bottom: 25px;
  }
  /******* reservation p *****/
  p {
    margin-bottom: 15px;
  }
  /***** reservation__button ****/
  &__button {
    @extend %button !optional;
    cursor: pointer;
  }
}

/***************** Section fonctionnement **************/

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 52px 20px;
  background-color: white;
  @include breakpoint(laptop) {
    padding: 52px;
  }
  /***** fonctionnement ul ****/
  ul {
    display: flex;
    flex-direction: column;
    @include breakpoint(tablet) {
      flex-direction: row;
      justify-content: space-between;
      gap: 1%;
      margin-top: 1rem;
    }
    @include breakpoint(laptop) {
      margin-top: 1rem;
      gap: 4%;
    }
  }
  /***** fonctionnement__wraper ****/
  &__wraper {
    @include card_shadow;
    position: relative;
    height: 75px;
    width: auto;
    border-radius: 15px;
    background-color: $color-grey;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 0 24px 12px;
    /*Responsive*/
    @include breakpoint(tablet) {
      margin: 0;
      gap: 10%;
      padding: 10px;
      justify-content: center;
      flex: 100%;
    }
    @include breakpoint(laptop) {
      flex: 1 80%;
    }
    /*wraper::before*/
    &::before {
      counter-increment: compteur;
      content: counter(compteur) " ";
      position: absolute;
      color: #fff;
      padding: 0.5rem 0.8rem;
      left: -1rem;
      background: #9356dc;
      border-radius: 20px;
      /*Responsive*/
      @include breakpoint(tablet) {
        top: -20px;
        left: auto;
      }
    }
    /*wraper__heading*/
    &__heading {
      @include breakpoint(laptop) {
        flex: 1 1 auto;
      }
    }
    /*wraper:hover*/
    &:hover {
      background-color: lighten($color-primary, 33%);
      cursor: pointer;
      i {
        color: $color-primary;
      }
    }
  }
  /***** fonctionnement__icon ****/
  &__icon {
    color: #7e7e7e;
    margin-left: 3rem;
    /*Responsive*/
    @include breakpoint(tablet) {
      margin-left: 0;
    }
  }
}

/****************** Section Restaurant *****************/
.restaurant * {
  flex: 100%;
}
.restaurant {
  display: flex;
  flex-direction: column;
  padding: 58px 20px 20px;
  background-color: $color-grey;
  /*Responsive*/
  @include breakpoint(tablet) {
    padding: 58px 100px 20px;
  }
  @include breakpoint(laptop) {
    padding: 58px 50px 20px;
  }
  /****** restaurant h2 *****/
  h2 {
    margin-bottom: 28px;
  }
  /***** restaurant__list ****/
  &__list {
    @include breakpoint(laptop) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 3rem;
    }
  }
  /***** restaurant__item ****/
  &__item {
    @include card_shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 18px;
    border-radius: 15px;
    /*Responsive*/
    @include breakpoint(laptop) {
      flex: 40%;
      margin-bottom: 0;
    }
  }
  /***** restaurant__description ****/
  &__description {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 14px 25px 20px 14px;
    h3 {
      flex: auto;
      font-size: 1.2rem;
    }
    p {
      order: 1;
      margin-top: 2px;
      font-size: 1.2rem;
    }
  }
  /***** restaurant__image ****/
  &__image {
    width: 100%;
    height: 174px;
    border-radius: 15px 15px 0 0;
  }
  /***** restaurant a ****/
  a {
    position: relative;
  }
  /***** restaurant__new ****/
  &__new {
    position: absolute;
    background-color: $color-tertiary;
    color: #008766;
    border-radius: 2px;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 6px 10px;
    top: 12px;
    right: 12px;
  }
  /***** heart ****/
  &__heart {
    position: absolute;
    font-size: 1.5rem;
    // color: $color-footer-black;
    top: 14px;
    right: 25px;
    cursor: pointer;
    transition: 2s ease-in;
  }
  &__heart:hover {
    background: $gradient;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
    animation: pulse 1.5s ease forwards;
  }
}
