/******************** Section Banner ********************/

.banner {
  /******** banner img *******/
  img {
    width: 100%;
    height: 254px;
    /*Responsive*/
    @include breakpoint(laptop) {
      height: 440px;
    }
  }
  /******* banner__heading *****/
  &__heading {
    display: flex;
    position: relative;
    background-color: $color-grey;
    margin-top: -38px;
    padding: 34px 12px 0;
    border-radius: 2.5rem 2.5rem 0 0;
    /*Responsive*/
    @include breakpoint(tablet) {
      padding: 34px 100px 0 100px;
    }
    @include breakpoint(desktop) {
      padding: 34px 50px 0 50px;
    }
    /******** banner h2 *******/
    h2 {
      @extend %shrinkhand !optional;
    }
  }
}

/********************* Section Dish **********************/

.dish {
  @include breakpoint(laptop) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5rem 100px;
  }
  @include breakpoint(desktop) {
    padding: 5rem 50px;
  }
  /******** dish__course *******/
  &__course {
    display: flex;
    flex-direction: column;
    padding: 18px 12px 0;
    /*Responsive*/
    @include breakpoint(tablet) {
      padding: 18px 100px 0;
    }
    @include breakpoint(laptop) {
      padding: 0;
      flex: 0 0 45%;
      &:nth-of-type(3) {
        margin: 0 auto;
      }
    }
    @include breakpoint(desktop) {
      padding: 0;
      flex: 0 0 31%;
      &:nth-of-type(3) {
        margin: 0;
      }
    }
  }
  /******** Dish__Heading *******/
  &__heading {
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: normal;
    margin-bottom: 15px;
    /*Heading::after*/
    &::after {
      content: "";
      display: flex;
      width: 2.8rem;
      height: 3px;
      /*Responsive*/
      background: $color-tertiary;
      @include breakpoint(laptop) {
        width: 100%;
      }
    }
  }
  /******** Dish__Item *******/
  &__item {
    @include card_shadow;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    height: auto;
    width: auto;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    margin: 0 0 24px 0;
    cursor: pointer;
  }
  /******** Dish__Name *******/
  &__name {
    font-size: 1.1rem;
  }
  /******* Dish__Description *****/
  &__description {
    display: flex;
    justify-content: space-between;
  }
  /******** Dish__Price *******/
  &__price {
    font-weight: bold;
  }
  /******** Dish__Button *******/
  &__button {
    @extend %button !optional;
    display: block;
    padding: 1rem 3rem;
    cursor: pointer;
  }
}
