/* General Shadow */
$size-shadow: 0 0.2rem 0.5rem;
@mixin custom-shadow($color: $color-shadow, $size: $size-shadow) {
  box-shadow: $size $color;
}
/* Media Queries */
@mixin breakpoint($point) {
  @if $point == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 1280px) {
      @content;
    }
  }
}
/* Fade in Dishes */
$time: 400;
@mixin fade-in-childs() {
  @for $i from 1 to 4 {
    ul li:nth-child(#{$i}) {
      $delay: $time * ($i - 1);
      animation: fadeInDishes 2s ease-in-out both;
      animation-delay: #{$delay}ms;
    }
  }
}
