/********************** HEADER **********
*****************************************/
.header {
  &__title {
    @extend %shrinkhand !optional;
    @include breakpoint(laptop) {
      font-size: 2.5rem;
    }
  }
  &__arrow {
    border: none;
    background-color: white;
    font-size: x-large;
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 12px;
    @include breakpoint(tablet) {
      left: 100px;
    }
    @include breakpoint(laptop) {
      top: 20px;
      left: 100px;
    }
    @include breakpoint(desktop) {
      top: 20px;
      left: 50px;
    }
  }
}
